[packages]
black = "*"
flake8 = "*"
ipython = "*"
isort = "*"
jupyterlab = "*"
matplotlib = "*"
mkdocs = "*"
notebook = "*"
numpy = "*"
pandas = "*"
pip = "*"
python-dotenv = "*"
scikit-learn = "*"
"tec_mlops_project" ={editable = true, path = "."}
fastapi = "0.111.0"
pydantic = "2.7.4"
httpx = "0.27.0"
uvicorn = "0.30.1"
pydantic-settings = "==2.3.3"
debugpy = "==1.8.1"

[requires]
python_version = "3.12"